<div class="container mt-5">
    <div class="row">
        <div class="offset-2 col-md-8">
            <form action="/register" method="POST">

                <div class="form-group mt-3">
                    <label for="h11">Name:</label>
                    <input type="text" id="h11" class="form-control" placeholder="Your Name *" name="name" />

                </div>

                <div class="form-group mt-3">
                    
                    <label for="h12">Email:</label>
                    <input type="email" id="h12" class="form-control" placeholder="Your Email *" name="email" />
                </div>

                <div class="form-group mt-3">
                    
                    <label for="h13">Phone:</label>
                    <input type="number" minlength="10" id="h13" maxlength="10" name="phone" class="form-control"
                        placeholder="Your Phone *" />
                </div>

                
                <div class="form-group mt-3 ">
                    
                    <label for="h15">In Time:</label>
                    <input type="text" minlength="10" maxlength="10" name="intime" class="form-control entry"
                        placeholder="" />
                </div>
                <div class="button d-flex justify-content-center">

                <button type="submit" class="btn btn-primary text-center mt-4">Enter</button>
                </div>
                
            </form>
        </div>

        </body>

<script>
const a=document.querySelector(".entry");

function time(){

    let date=new Date();
    day=date.getMonth()+1;
a.value=date.getUTCDate()+"/"+day+"/"+date.getFullYear()+" time- "+date.getHours()+":"+date.getMinutes()+":"+date.getSeconds();
}
setInterval(time,1000);


</script>
        </html>